SECRET_KEY=django-insecure-q2ig_h$me4!nr#4#rod-ov=x-xli*1$b36z@z^vcjf30!e@^mu
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,*

#db credential
MASTER_DB_NAME=face_matcher_db
MASTER_DB_USER=postgres
MASTER_DB_HOST=localhost
MASTER_DB_PORT=5432
MASTER_DB_PASSWORD=1211
MASTER_DB_OPTIONS=sslmode=disable

REPLICA_DB_NAME=face_matcher_db
REPLICA_DB_USER=postgres
REPLICA_DB_HOST=localhost
REPLICA_DB_PORT=5432
REPLICA_DB_PASSWORD=1211
REPLICA_DB_OPTIONS=sslmode=disable
