asgiref==3.10.0
asttokens==3.0.0
decorator==5.2.1
dj-config-url==0.1.1
dj-database-url==3.1.2
Django==5.2.7
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.16.1
executing==2.2.1
gunicorn==26.0.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
matplotlib-inline==0.1.7
packaging==26.2
parso==0.8.5
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
python-dotenv==1.2.2
sqlparse==0.5.3
stack-data==0.6.3
traitlets==5.14.3
wcwidth==0.2.14
